@import "./utilities/themes.scss";

.btn {
  font-weight: 700;
  font-size: 1rem;
  padding: 6px 12px;
  text-align: center;
  border: 0.14rem solid black;
  outline: none;
  cursor: pointer;
  margin: 4px;
}

// color loops
// basic
@each $color, $value in $default-theme-colors {
  .#{$color} {
    background-color: $value;
    color: black;
  }
}
//outline
@each $color, $value in $default-theme-colors {
  .#{$color}-outline {
    background-color: transparent;
    color: $value;
    border-color: $value;
  }
}

// specail case overrides
.sunset-grad {
  background: map-get($default-theme-colors, "sunset-grad");
}
.disabled {
  background-color: map-get($default-theme-colors, "disabled");
  color: #656565;
  cursor: not-allowed;
}

// shape
.rounded {
  border-radius: 10px;
}
.pill {
  border-radius: 1000px;
}

// hover animations
.glow:hover {
  color: red;
}

// booleans
.no-border {
  border: none;
}

// shapes
.sharp {
  border-radius: 0px;
}
.rounded {
  border-radius: 6px;
}
.pill {
  border-radius: 1000px;
}

.solid {
  border-color: black;
}
.dashed {
  border: 0.2rem dashed black;
}
