@import "./utilities/themes.scss";
$theme-colors: $default-theme-colors;

.btn {
  font-weight: 700;
  font-size: 1rem;
  padding: 6px 12px;
  text-align: center;
  border: 0.14rem solid black;
  outline: none;
  cursor: pointer;
  margin: 4px;

  // color loops
  // basic
  @each $color, $value in $theme-colors {
    &-#{$color} {
      @extend .btn;
      background: $value;
      color: black;
      //outline
      &-outline {
        @extend .btn;
        background-color: transparent;
        color: $value;
        border-color: $value;
        //neon
        &-neon {
        }
      }
    }
  }

  // specail case overrides
  .disabled {
    background-color: map-get($theme-colors, "disabled");
    color: #656565;
    cursor: not-allowed;
  }
}

// hover animations
.glow:hover {
  color: red;
}

// booleans
.no-border {
  border: none;
}

// shapes
.sharp {
  border-radius: 0px;
}
.rounded {
  border-radius: 6px;
}
.pill {
  border-radius: 1000px;
}

.solid {
  border-color: black;
}
.dashed {
  border: 0.2rem dashed black;
}
